.container {
  display: block;
  height: 30px;
  width: 50vw;
  margin-top: 20px;
}

.ex1 {
  margin-bottom: 50px;
}

.list-item {
  display: flex;
}

.btn {
  display: inline-block;
  width: 100px;
  margin-left: 5px;
}

.newdiv {
  display: block;
  height: 30px;
  width: 50vw;
  border: 1px dotted black;
  margin-top: 120px;
  text-align: right;
}
